version: '3.8'

services:
  bot:
    image: ghcr.io/glebshir/tg-media-downloader:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - MAX_FILE_SIZE=${MAX_FILE_SIZE:-52428800}
      - HTTP_PROXY=${HTTP_PROXY:-http://127.0.0.1:1081}
      - HTTPS_PROXY=${HTTPS_PROXY:-http://127.0.0.1:1081}
      - http_proxy=${http_proxy:-http://127.0.0.1:1081}
      - https_proxy=${https_proxy:-http://127.0.0.1:1081}
      - ALL_PROXY=${ALL_PROXY:-http://127.0.0.1:1081}
      - NO_PROXY=${NO_PROXY:-localhost,127.0.0.1}
    volumes:
      - ./downloads:/app/downloads
